@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
body{
    background-color:steelblue;
    padding: 2%;
    margin: 0 10%;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Signika Negative', sans-serif;
}
label {
    color: white;
    font-family: 'Signika Negative', sans-serif;
}
li {
    list-style: none;
    margin-bottom: 5px;
    font-family: 'Signika Negative', sans-serif;
    color: white;
}

a.enlace-eliminar {
    margin-left: 10px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.tachado {
    text-decoration: line-through 2px solid rgb(190, 190, 190);
    color: black;
}
